<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <link href="favicon.ico" rel="icon">

    <title>EmpleosApp | Detalles de la Oferta de Trabajo</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" th:href="@{/bootstrap/css/jumbotron.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/css/sticky-footer-navbar.css}">
</head>

<body>

<header th:insert="fragments/menu :: menu-principal"></header>


<main role="main">
    <hr>
    <div class="container">

        <div class="row">
            <div class="col-md-3">
                <img alt="Generic placeholder image" class="rounded mx-auto d-block" height="220"
                     th:src="@{/images/{img} (img=${vacante.imagen})}" width="220">
            </div>
            <div class="col-md-9">
                <div class="card">
                    <h4 class="card-header">Aplicar para <strong th:text="${vacante.nombre}"></strong></h4>
                    <div class="card-body">
                        <h5 class="card-title"><strong>Categoría: </strong> <span>Nombre la categoría</span></h5>
                        <h6 class="card-title"><strong>Publicado: </strong> <span th:text="${vacante.fecha}"></span>
                        </h6>
                        <h6 class="card-title"><strong>Salario Ofrecido: </strong><span
                                th:text="${vacante.salario}"></span></h6>
                        <p class="card-text" th:text="${vacante.descripcion}"></p>

                        <div class="card bg-light mb-3">
                            <div class="card-body">
                                <h5 class="card-title">Detalles de la oferta de trabajo</h5>
                                <p class="card-text"></p>
                            </div>
                        </div>
                        <a class="btn btn-primary" href="#" role="button"
                           title="Quiero aplicar para esta oferta de trabajo."><i aria-hidden="true"
                                                                                  class="fas fa-file"></i> Aplicar</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>

<footer class="footer" th:insert="fragments/footer :: pie-pagina">

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>

