<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <link href="favicon.ico" rel="icon">

    <title>EmpleosApp | Listado de Categorías</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" th:href="@{/bootstrap/css/jumbotron.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/css/sticky-footer-navbar.css}">
    <link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet">
</head>

<body>

<header th:insert="fragments/menu :: menu-principal"></header>

<main role="main">
    <hr>
    <div class="container">

        <div class="card">
            <h4 class="card-header"><strong>Listado de Categorías</strong></h4>
            <div class="card-body">
                <a class="btn btn-primary" role="button" th:href="@{/categorias/create}"><i aria-hidden="true"
                                                                                            class="fas fa-file"></i>
                    Nueva</a>
                <hr>
                <div class='alert alert-success' role='alert' th:if="${msg != null}" th:text="${msg}"></div>
                <table class="table table-hover">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Operaciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="cat : ${categorias}">
                        <th scope="row" th:text="${cat.id}"></th>
                        <td th:text="${cat.nombre}"></td>
                        <td th:text="${cat.descripcion}"></td>
                        <td>
                            <a class="btn btn-success btn-sm" href="#" role="button" title="Editar"><i
                                    aria-hidden="true" class="fas fa-pencil-alt"></i></a>
                            <a class="btn btn-success btn-sm" href="#" onclick="return confirm('¿Estas seguro?')"
                               role="button" title="Eliminar"><i aria-hidden="true" class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div> <!-- /container -->

</main>

<footer class="footer" th:insert="fragments/footer :: pie-pagina"></footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>
